@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="header-menu">
        <div class="header-title">
            <h1>Gestión de discos</h1>
        </div>

        <h3>Un gestor, de discos.</h3>
        <a class="button-discos" asp-area="" asp-controller="" asp-action="Error">Admin</a>
    </div>

    <div class="index-menu">
        <div class="option-column">
                <h2>Discos</h2>
            <a asp-controller="Albums" asp-action="Index">
                <div class="index-menu-box">
                    <img src="https://intheclouds.io/cdn/shop/files/black_e26aafc7-21f0-48cb-82f2-25ca1249949e_grande.png?v=1689212461" alt="" />
                    <p>Ir a discos</p>
                </div>
            </a>
        </div>
        <div class="option-column">
            <h2>Artistas</h2>
            <a asp-controller="Artists" asp-action="Index">
                <div class="index-menu-box">
                    <img src="https://intheclouds.io/cdn/shop/files/black_e26aafc7-21f0-48cb-82f2-25ca1249949e_grande.png?v=1689212461" alt="" />
                    <p>Ir a artistas</p>
                </div>
            </a>
        </div>
        <div class="option-column">
            <h2>Login</h2>
            <a asp-controller="Home" asp-action="Login">
                <div class="index-menu-box">
                    <img src="https://intheclouds.io/cdn/shop/files/black_e26aafc7-21f0-48cb-82f2-25ca1249949e_grande.png?v=1689212461" alt="" />
                    <p>Ir a identificación</p>
                </div>
            </a>
        </div>
    </div>
</main>