<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav.ico}">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center text-danger">Error</h1>
    <table class="table table-striped mt-3">
        <tr>
            <th>Date</th>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <th>Path</th>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <th>Error</th>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <th>Status</th>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <th>Trace</th>
            <td>
                <pre th:text="${trace}"/>
            </td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>