html {
  font-size: 14px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-menu{
  border: 3px solid black;
  border-radius: 1em;
  margin-bottom: 2em;
}

.header-title{
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  border-radius: .5em .5em 0 0;
  padding: .3em 0 .3em 1em;
}

.header-menu h3 {
    margin: .5em 0 .1em 3em;
 }

.button-discos {
    padding: 0 .3em 0 .3em;
    background-color: black;
    border-radius: .5em;
    color: white;
    text-decoration: none;
    transition: all ease-in-out .2s;
    margin-top: 3em;
    border: 2px solid black;
}

.button-discos:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    z-index: 999;
}

.header-menu a{
    position: relative;
    left: 90%;
    bottom: 1.5em;
}


.index-menu{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 2em;
}

.option-column a{
    text-decoration: none;
}

.option-column h2 {
    width: 13vw;
    text-align: center;
    border: 2px solid black;
    border-radius: .5em .5em 0 0;
    color: black;
    text-decoration: none;
}

.index-menu-box {
    width: 30vw;
    border: 2px solid black;
    border-radius: 0 0 .5em .5em;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: none;
    transition: all ease-in-out .5s;
    padding: 1em .5em 1em -5em;
}

.index-menu-box:hover{
  box-shadow: none;
  background-color: black;
  color: white;
}


.index-menu-box img{
    width: 16vw;
}

.index-menu-box p {
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    margin: .5em;
    transition: all ease-in-out .5s;
}

.index-menu-box:hover > p{
    color: white;
}