<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>400</title>
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
	<link type="text/css" rel="stylesheet" th:href="@{/styles/error.css}" />
</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Petición con problemas.</h3>
				<h1><span>4</span><span>0</span><span>0</span></h1>
			</div>
			<h2>Su petición no ha sido aceptada, revisa los datos introducidos.</h2>
		</div>
	</div>
</body>
</html>
