<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <ul th:each="product : ${products}">
        <li th:text="${product.getProductName()}"></li>
    </ul>
    <form action="IzquierdoAndresMiAli/productos/update" method="get">
        <label>
            Provincia
            <select name="provinciaId" onchange="this.form.submit()" id="idProvincia">
                <option th:each="provincia : ${allProvincias}" th:value="${provincia.idProvincia}" th:text="${provincia.nombre}"></option>
            </select>
        </label>

        <label>
            Municipio
            <select name="municipioId" onchange="this.form.submit()" th:field="municipioId" id="idMunicipio">
                <option th:each="municipio : ${municipiosByProvincia}" th:value="${municipio.idMunicipio}" th:text="${municipio.nombre}"></option>
            </select>
        </label>
    </form>
</body>
</html>