<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <ul th:each="product : ${products}">
        <li th:text="${product.getProductName()}"></li>
    </ul>
    <form action="/updateProductList" method="post">
        <label>
            Provincia
            <select name="provincia" onchange="this.form.submit()">
                <option th:each="provincia : ${pronvicias}" th:value="${municipio.id}" th:text="${state.name}"></option>
            </select>
        </label>

        <label>
            Municipio
            <select name="municipio" onchange="this.form.submit()">
                <option th:each="municipio : ${municipios}" th:value="${city.id}" th:text="${city.name}"></option>

            </select>
        </label>
    </form>
</body>
</html>