<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar artista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-light" >
<header th:insert="~{/index_izquierdo.html :: nav}"> </header>
<main class="container mt-5" style="min-height: 85vh">
    <h1 class="text-center">Editar artista</h1>
    <form id="employeeForm" method="post" th:action="@{/artist/{id}/edit(id=${artist.getArtistId()})}" class="needs-validation" novalidate>
        <input type="hidden" name="artistId" th:value="${artist.getArtistId()}">

        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${artist.getName()}" required="required">
        </div>

        <button type="submit" class="btn btn-primary">Editar artista</button>
        <a th:href="@{/artist}" class="btn btn-primary ml-3">Volver a lista</a>

    </form>
</main>

<footer th:insert="~{index_izquierdo.html :: footer}"> </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>