
@{
    ViewData["Title"] = "Felicita";
}

@* <h2>Felicitaciones @ViewData["name"]</h2>

<ul>
@for (int i = (int)ViewData["age"]; i > 0; i--)
{
    <li><a href="../Index">Felicidades @ViewData["name"]</a></li>
}
</ul> *@

@* <p>@Html.DisplayNameFor(model => model.Year): @Html.DisplayFor(model => model.Year)</p> *@