<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link th:href="@{/assets/web.ico}" rel="icon" type="image/x-icon" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
</head>
<body class="bg-light">
<header th:insert="~{/inicio.html :: nav}" class="pb-5"> </header>
<div class="d-flex align-items-center" style="height: 70vh">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center mt-2">Login</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username">Nombre de usuario</label>
                                <input type="text" id="username" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div th:if="${error}" class="alert alert-danger mt-3" role="alert">
                                <span th:text="${error}"></span>
                            </div>
                            <div class="form-group mt-3 text-center">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <p>¿Aún no tienes cuenta? <a th:href="@{/register}" class="text-primary">Registrate aquí</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid fixed-bottom fixed-right m-5">
            <div class="row">
                <div class="col-md-2 offset-md-10 alert alert-info mt-5" role="alert">
                    <strong>Usuarios predeterminados:</strong> <br>
                    <strong>-</strong> admin / admin (Rol: administrador) <br>
                    <strong>-</strong>  gestor / gestor (Rol: gestor) <br>
                    <strong>-</strong>  cliente / cliente (Rol: client)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 py-3" th:replace="~{/inicio.html :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>